<div class="container">
    <h4><i class="bi bi-telephone-inbound" alt="Fale conosco"></i></h4>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <h4><i class="bi bi-envelope-open"></i></h4>
            </span>
            <h5><email endereco="macoratti@yahoo.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <h4><i class="bi bi-envelope-open"> (11) 9874-5566</i></h4>
            </span>
            <span>
                <h4><i class="bi bi-house"> Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</i></h4>
            </span>

        </p>
    </div>

</div>
